@media only screen and (max-width: 1280px) {
    .hero-content {
        width: 50%;
    }
    .hero-img {
        width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .hero-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .hero-content {
        width: 80%;
    }
    .hero-img {
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0px 20px;
    }
    .navbar-container {
        flex-direction: column;
        gap: 20px;
    }

    .hero-content {
        width: 100%;
    }

    .hero-title {
        font-size: 30px;
        line-height: 40px;
    }

    .hero-img {
        width: 100%;
    }
}
