/* Font Family Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Common CSS */
.container {
    max-width: 80%;
    margin: 0 auto;
}

.section-title {
    color: #707070;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
}

.paragraph {
    color:  #18191F;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.btn {
    padding: 20px 25px;
    border-radius: 100px;
    background: linear-gradient(88deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.50);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.text-orange {
    color: transparent;
    background: linear-gradient(88deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    -webkit-background-clip: text;
    background-clip: text;
}

/* Navbar Style */
.navbar {
    background: #0B0D17;
    padding: 30px 0px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu li a {
    color: #fff;
    font-weight: 500;
}

.menu li a:hover {
    color: #ffa500;
}

/* Hero Section */
.hero-section {
    padding: 50px 0px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    width: 30%;
}

.hero-content .paragraph {
    color: #828282;
    margin: 40px 0px;
    font-size: 20px;
    font-weight: 500;
}

.hero-title {
    color: #707070;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
}

.hero-img {
    background-image: url("../images/hero-img-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
}

.hero-img img {
    width: 100%;
}

/* About Section Style */
.about-container {
    display: flex;
    align-items: center;
}

.about-section {
    background-image: url("../images/about-bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.about-content {
    width: 50%;
    padding-bottom: 50px;
}

.about-content .paragraph {
    margin: 30px 0px 50px;
}

.about-img {
    width: 50%;
    text-align: center;
}

.about-img img {
    width: 40%;
}

/* Recipes Section Style */
.recipes-section {
    margin: 70px 0px 100px;
}

.recipes-section-head {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.recipe {
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 30px;
}

.recipe-img img {
    width: 100%;
}

.recipe-content {
    margin-top: 30px;
}

.recipe-card-title {
    color: #18191F;
    font-size: 28px;
    font-weight: 800;
}

.recipe-content .paragraph {
    margin-top: 20px;
}

/* Popularity Section Style */
.popularity-section {
    margin-bottom: 90px;
}

.popularity-container {
    background: #fff;
    padding: 64px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.youtube-subscribe,
.instagram-followers,
.dribble-likes {
    text-align: center;
}

.popularity-title {
    color: #18191F;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}