@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0px 20px;
    }

    header {
        padding: 100px 0px;
    }

    .hero-section {
        width: 100%;
    }

    .hero-title {
        font-size: 45px;
    }

    .donate-section {
        width: 100%;
    }

    .donate-amount-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .donate-amount {
        font-size: 25px;
    }

    .our-donate-plan-section .section-head {
        width: 100%;
    }

    .donate-plan-cards-container {
        margin-top: 30px;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .hero-section {
        width: 95%;
    }

    .hero-title {
        font-size: 45px;
    }

    .donate-section {
        width: 100%;
    }

    .donate-amount-card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .our-donate-plan-section .section-head {
        width: 100%;
    }
    
    .donate-plan-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .hero-section {
        width: 80%;
    }

    .donate-section {
        width: 100%;
    }

    .donate-amount-card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .our-donate-plan-section .section-head {
        width: 70%;
    }

    .donate-plan-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    .hero-section {
        width: 65%;
    }

    .donate-section {
        width: 100%;
    }
}





