/* Font Family Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
}

a {
    text-decoration: none;
}

/* Common CSS */
.container {
    width: 80%;
    margin: 0 auto;
}

.section-head {
    text-align: center;
}

.section-title {
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}

.paragraph {
    color: #707070;
    font-size: 18px;
    line-height: 28px;
}

.btn {
    font-family: "Inter", serif;
    background-color: #FF5959;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Header / Hero Section Style */
header {
    padding: 190px 0px;
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0.055), rgba(18, 18, 18, 0.8)), url("../images/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section {
    text-align: center;
    width: 46%;
    margin: 0 auto;
}

.hero-title {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
}

.hero-section .paragraph {
    margin: 20px 0px 30px;
    color: #fff;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Donate Section Style */
.donate-section {
    padding: 130px 0px;
    width: 60%;
    margin: 0 auto;
}

.donate-section .section-head .paragraph {
    margin-top: 20px;
}

.donate-amount-card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.donate-amount-card {
    padding: 43px 25px;
    border-radius: 5px;
    background: #FAFAFA;
    text-align: center;
    border: 2px solid transparent;
}

.donate-amount-card:hover {
    border: 2px solid #FF5959;
    background: #FEE;
    cursor: pointer;
}

.donate-amount-card:hover .donate-amount {
    color: #FF5959;
}

.donate-amount {
    color: #707070;
    font-size: 30px;
    font-weight: 700;
}

.donate-other-amount {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-other-amount .other-amount-input {
    width: 100%;
    padding: 10px 0px;
    color: #B3B3B3;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    border: none;
    border-bottom: 2px solid #DADADA;
    outline: none;
}

.other-amount-submit-btn {
    margin-top: 30px;
}

/* Our Donate Plan Section Style */
.our-donate-plan-section {
    margin-bottom: 120px;
}

.our-donate-plan-section .section-head {
    width: 45%;
    margin: 0 auto;
}

.our-donate-plan-section .section-head .paragraph {
    margin-top: 20px;
}

.donate-plan-card {
    border-radius: 5px;
    padding: 50px 25px;
}

.donate-plan-cards-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.donate-plan-card-one {
    background: rgba(79, 157, 166, 0.1);
}

.donate-plan-card-two {
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.1);
}

.donate-plan-card-three {
    background-color: rgba(255, 244, 214);
}

.donate-plan-card-title {
    color: #121212;
    font-size: 24px;
    font-weight: 600;
    margin: 25px 0px 16px;
}