
@media screen and (max-width: 1280px) {
    .container {
        width: 90%;
    }

    .hero-title {
        font-size: 60px;
    }

    .hero-img img {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .hero-content {
        margin-bottom: 40px;
    }

    .hero-title {
        font-size: 45px;
    }

    .featured-flower-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .featured-flower-img {
        height: 600px;
    }

    .featured-section .section-head {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0px 20px;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-content {
        width: 100%;
    }

    .featured-section .section-head {
        width: 100%;
    }

    .support-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }
    
}

@media screen and (max-width: 576px) {
    .hero-img {
        width: 100%;
    }

    .hero-title {
        font-size: 40px;
    }

    .featured-section .section-head {
        width: 100%;
    }

    .featured-flower-container {
        grid-template-columns: 1fr;
    }

    .support-section {
        padding: 40px 20px;
        margin-bottom: 80px;
    }

    .support-container {
        grid-template-columns:  1fr;
        row-gap: 50px;
    }
}

